.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  opacity: 0.8;
}

.button_action_edit {
  width: 1.875vw;
  height: 1.875vw;
  border: 1px solid white;
  margin: -1.17vw 0 0 1.875vw;
  background-image: url('../../images/edit-pen.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
}

@media screen and (max-width: 475px) {
  .button_action_edit {
    height: 18px;
    width: 18px;
    margin: -16px 0 0 12px;
  }
}


.button_action_add {
  width: 11.71875vw;   /* 150/1280 */
  height: 3.90625vw;   /* 50/1280 */
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 2.578vw 0 0 auto; /* 33/1280 */
  background-image: url('../../images/plus.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20% 50%;
}

@media screen and (max-width: 475px) {
  .button_action_add {
    width: 88.125vw;  /* 282/319 */
    height: 15.67vw;  /* 50/319 */
    margin: 36px 0 0 0;
    background-size: 16px 16px;
  }
}

@media screen and (max-width: 767px) {
  .button_action_add {
    margin-top: 36px;  
  }
}

.button_action_like {
  margin: 0 1.406vw 0 auto;
  display: inline;
}

@media screen and (max-width: 375px) {
  .button_action_like {
    margin-right: 21px
  }
}

.button_action_submit {
  margin-top: 1.40625vw; 
  width: 100%;
  height: 3.91vw;  
  background-color: black;
  color: white;
  font-size: 1.40625vw; 
  line-height: 1.22; 
  border:  none;
  border-radius: 2px;
}


.button_action_submit {
  margin-top: 18px; 
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 18px;
  line-height: 1.22;
  font-weight: normal;
  border:  none;
  border-radius: 2px;
}

@media screen and (max-width: 768px) {
  .button_action_submit {
    height: 20px;
    font-size: 12px;
  }
}

.button_action_close {
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../../images/close-icon.svg');
  background-size: contain;
  border: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: 204px;  
  margin-top: -207px;  
  width: 58px;
  height: 58px;
}

@media screen and (max-width: 768px) {
  .button_action_close {
    margin-left: 115px;
    margin-top: -115px;
    width: 30px;  
    height: 30px;   
  }
}