
.page {
  background-color: black;
  font-family: "Inter", "Arial", sans-serif;
  /* Fractions: 45/1280, 202/1280 */
  margin: 3.516vw 15.78125vw 0 15.78125vw;
}

@media screen and (max-width: 767px) {
  .page {
    margin: 28px 2.5vw 0 2.5vw;  /* 10/768 */
  }
}

@media screen and (max-width: 375px) {
  .page {
    margin: 28px 0 0 0;  /* 10/768 */
  }
