@import url('./blocks/footer/__copyright/footer__copyright.css');
@import url('./blocks/footer/__copyright/_mod1/footer__copyright_mod1_val1.css');
@import url('./blocks/footer/__copyright/_mod1/footer__copyright_mod1_val2.css');
@import url('./blocks/footer/__copyright/_mod2/footer__copyright_mod2.css');
.footer {
  margin: 0 0 60px 0;
}

@import url('./blocks/footer/__copyright/footer__copyright.css');
@import url('./blocks/footer/__copyright/_mod1/footer__copyright_mod1_val1.css');
@import url('./blocks/footer/__copyright/_mod1/footer__copyright_mod1_val2.css');
@import url('./blocks/footer/__copyright/_mod2/footer__copyright_mod2.css');
.footer {
  margin: 0 0 60px 0;
}

@import url('./blocks/footer/__copyright/footer__copyright.css');
@import url('./blocks/footer/__copyright/_mod1/footer__copyright_mod1_val1.css');
@import url('./blocks/footer/__copyright/_mod1/footer__copyright_mod1_val2.css');
@import url('./blocks/footer/__copyright/_mod2/footer__copyright_mod2.css');
.footer {
  margin: 0 0 60px 0;
}

@media screen and (max-width: 375px) {
  .footer {
    margin-bottom: 36px;
  }
}

