@import url('./blocks/header/__title/header__title.css');
@import url('./blocks/header/__logo/header__logo.css');
@import url('./blocks/header/__title/header__title.css');
@import url('./blocks/header/__logo/header__logo.css');
@import url('./blocks/header/__title/header__title.css');
@import url('./blocks/header/__logo/header__logo.css');
.header {
  border-bottom: 1px solid hsla(0, 0%, 33%, 0.7);
  box-sizing: border-box;
  width: 100%;
}

