@import url('./blocks/profile/__text/profile__text.css');
@import url('./blocks/profile/__name/profile__name.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__job/profile__job.css');
@import url('./blocks/profile/__image/profile__image.css');
.profile {
  margin: 2.832vw 0 3.6914vw 0; /* 36.25/1280, 47.25/1280 */
  display: flex;
  
}

@import url('./blocks/profile/__text/profile__text.css');
@import url('./blocks/profile/__name/profile__name.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__job/profile__job.css');
@import url('./blocks/profile/__image/profile__image.css');
.profile {
  margin: 2.832vw 0 3.6914vw 0; /* 36.25/1280, 47.25/1280 */
  display: flex;
  
}

@import url('./blocks/profile/__text/profile__text.css');
@import url('./blocks/profile/__name/profile__name.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__job/profile__job.css');
@import url('./blocks/profile/__image/profile__image.css');
.profile {
  margin: 2.832vw 0 3.6914vw 0; /* 36.25/1280, 47.25/1280 */
  display: flex;
  
}

@media screen and (max-width: 475px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 38px 0 36px 0;
  }
}

