.popup__container {
  position: fixed;
  width: 430px; 
  height: 330px; 
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;  
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 34px 36px 36px 36px;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  margin-top: -165px;
  margin-left: -215px;
}

@media screen and (max-width: 768px) {
  .popup__container {
    width: 244px;
    height: 190px;
    padding: 18px 18px 18px 18px;
    margin-top: -93.84px;
    margin-left: -122.3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

