.header__logo {
  background-color: black;
  width: 13.5156vw;   /* 173/1280 */
  height: 2.5781vw;   /* 33/1280 */
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 39.5vw;
    height: 7.5235vw;
  }
}

@media screen and (max-width: 375px) {
  .header__logo {
    width: 39.5vw;
    height: 7.5235vw;
    margin-left: 27px;
  }
}

