.header {
  border-bottom: 1px solid hsla(0, 0%, 33%, 0.7);
  box-sizing: border-box;
  width: 100%;
}

.header__title {
  margin-bottom: 3.2vw;
  font-size: 2.5vw;
  padding: 0;
}

@media screen and (max-width: 375px) {
  .header__title {
    margin-bottom: 32px;
  }
}


.header__logo {
  background-color: black;
  width: 13.5156vw;   /* 173/1280 */
  height: 2.5781vw;   /* 33/1280 */
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 39.5vw;
    height: 7.5235vw;
  }
}

@media screen and (max-width: 375px) {
  .header__logo {
    width: 39.5vw;
    height: 7.5235vw;
    margin-left: 27px;
  }
}

 @import url('./blocks/header/__title/header__title.css');
@import url('./blocks/header/__logo/header__logo.css');
