.footer__copyright {
  font-size: 1.406vw;  /* 18/1280 */
  line-height: 18px;
  color: #545454;
}

@media screen and (max-width: 375px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    margin: 28px 0 0 19px;
  }
}

