.a-block {
  /* a-block.css should have this, one media query, 
  a pseudo class and a pseudo element.*/
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .a-block {
    justify-content: right;
  }
}

.a-block:hover {
  /* still need to work out pseudo-classes */
  opacity: 0.8;
}

.a-block::before {
  /* still need to work out pseudo-elements */
  display: block;
}

.a-block_mod1_val {
  /* a-block_mod1_val should have this, 
  a media query and a hover */
  color: pink;
}

@media screen and (max-width: 768px) {
  .a-block_mod1_val {
    color: pink;
  }

  .a-block_mod1_val:hover {
    color: blue;
  }
}

.a-block_mod2 {
  /* a-block_mod2.css should only have this */
  display: none;
}

@media screen and (max-width: 768px) {
  .a-block_mod3 {
    /* This should be the only selector */
    color: pink;
  }
}

.a-block__element {
  /* a-block__element.css should have two regular
  declarations, a pseudo element and a pseudo class, 
  and a media query */
  width: 1.875vw;
  height: 1.875vw;
}

.a-block__element {
  /* superfluous double declaration. */
  width: 1.875vw;
  height: 1.875vw;
}

.a-block__element:hover {
  color: red;
}

.a-block__element::before {
  color: blue;
}

@media screen and (max-width: 768px) {
  .a-block__element {
    width: 1.875vw;
    height: 1.875vw;
  }
}

.a-block__element_mod1_val1 {
  /* Should be this one and a media query */
  width: 1.875vw;
  height: 1.875vw;
}

@media screen and (max-width: 768px) {
  .a-block__element_mod1_val1 {
    width: 1.875vw;
    height: 1.875vw;
  }
}

.a-block__element_mod1_val2 {
  /* shhould be this and a media query */
  width: 1.875vw;
  height: 1.875vw;
}

@media screen and (max-width: 768px) {
  .a-block__element_mod1_val2 {
    width: 1.875vw;
    height: 1.875vw;
  }
}

.a-block__element_mod2 {
  /* should be this and a media query */
  width: 1.875vw;
  height: 1.875vw;
}

@media screen and (max-width: 768px) {
  .a-block__element_mod2 {
    width: 1.875vw;
    height: 1.875vw;
  }
}
