.profile__name {
  color: white;
  font-weight: 500;
  font-size: 3.28125vw; /* 42/ 1280 */
  line-height: 1.33;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .profile__name {
    font-size: 22px;
    line-height: 56px;
  }
}

