.place {
  border-radius: 0.78125vw;  
  background-color: white;
  height: 28.2vw;  /* 361/1280 */
}

@media screen and (max-width: 767px) {
  .place {  
    height: 56.875vw;
    border-radius: 3.13vw;
  }
}

@media screen and (max-width: 375px) {
  .place {  
    height: 362px;
    margin-bottom: 20px;
  }
}

.place__image {
  width: 22.031vw;    /* 282/1280 */
  height: 22.031vw;   /* 282/1280 */
  border-top-left-radius: 0.78125vw;  
  border-top-right-radius: 0.78125vw;  
}

@media screen and (max-width: 767px) {
  .place__image {
    width: 45vw;
    height: 45vw;
    border-top-left-radius: 3.13vw;
    border-top-right-radius: 3.13vw;
  }
}

@media screen and (max-width: 375px) {
  .place__image {
    width: 100%;
    height: 282px;
  }
}

.place__footer {
  display: flex;
  align-items: center;
}


.place__name {
  font-weight: 900;
  font-size: 1.875vw;     /* 24/1280 */
  line-height: 1.208;
  margin-left: 1.6506vw;   /* 21/1280 */
}

@media screen and (max-width: 1279px) {
  .place__name {
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 767px) {
  .place__name {
    font-size: 3vw;
  }
}

@media screen and (max-width: 375px) {
  .place__name {
    font-size: 24px;
    line-height: 29px;
    margin-left: 21px;
  }
}
@import url('./blocks/place/__image/place__image.css');
@import url('./blocks/place/__footer/place__footer.css');
@import url('./blocks/place/__name/place__name.css');
