@import url('./blocks/place/__image/place__image.css');
@import url('./blocks/place/__footer/place__footer.css');
@import url('./blocks/place/__name/place__name.css');

.place {
  border-radius: 0.78125vw;  
  background-color: white;
  height: 28.2vw;  /* 361/1280 */
}

@media screen and (max-width: 767px) {
  .place {  
    height: 56.875vw;
    border-radius: 3.13vw;
  }
}

@media screen and (max-width: 375px) {
  .place {  
    height: 362px;
    margin-bottom: 20px;
  }
}

