.a-block_mod1_val {
  /* a-block_mod1_val should have this, 
  a media query and a hover */
  color: pink;
}

@media screen and (max-width: 768px) {
  .a-block_mod1_val {
    color: pink;
  }

  .a-block_mod1_val:hover {
    color: blue;
  }
}

