.profile__job {
  color: white;
  font-weight: 100;
  font-size: 1.40625vw; /* 18/1280 */
  line-height: 1.22;
  margin: 4px 0 0 0;
}

@media screen and (max-width: 767px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
  }
}

