.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.button:hover {
  opacity: .8;
}

.button_action_edit {
  width: 1.875vw;
  height: 1.875vw;
  border: 1px solid  #FFFFFF;
  margin: -1.17vw 0 .3vw 1.875vw;
  background-image: url('../../../images/edit-pen.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
}

@media screen and (max-width: 768px) {
  .button.button_action_edit {
    height: 18px;
    width: 18px;
    margin: -16px 0 .5vw 12px;
  }
}

@media screen and (max-width: 475px) {
  .button.button_action_edit {
    height: 18px;
    width: 18px;
    margin: -16px 0 .3vw 12px;
  }
}









@import url('./blocks/button/_action/button_action.css');
