@import url('./blocks/button/_action/button_action.css');

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.button:hover {
  opacity: .8;
}

